@import "variables";
@import "initialValues";
@import "responsive";

#hero {
    width: 100%;
    min-height: 100vh;
    background: url("../images/heroImage.webp") no-repeat center;
    /* padding: $sm-padding 0 $sm-padding $sm-padding; */
    background-size: cover;

    #header {
        /* display: flex; */
    }

    .hero-main {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 8px));
        gap: 15px;
        height: 100vh;

        .coffeeMug-container {
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% - 55px), calc(-50% + 3px));  
            z-index: 1;

            #coffeMug-circle {
                fill: #ebf4f5;
                width: 1440px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(calc(-50% + 49px), calc(-50% - 4px)); 
            }

            .coffeeMug {
                width: 100%;
            }
        }

        .hero-content {
            backdrop-filter: blur(30px);
            padding: 15px;
        }

        .hero-top-left {
            border-left: 13px double rgb(226, 176, 105);
            border-top: 13px double rgb(226, 176, 105);
        }

        .hero-top-right {
            border-right: 13px double rgb(226, 176, 105);
            border-top: 13px double rgb(226, 176, 105);
        }

        .hero-bottom-left {
            border-left: 13px double rgb(226, 176, 105);
            border-bottom: 13px double rgb(226, 176, 105);
        }
        .hero-bottom-right {
            border-right: 13px double rgb(226, 176, 105);
            border-bottom: 13px double rgb(226, 176, 105);
        }
    }
}